@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat&display=swap');

body {
    font-family:'Fredoka', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-size: 50px;
    margin: 50px;
    margin-top: 80px;
}

h2,
h4,
h5,
p {
    text-align: center;
}

/* Navigation section */
#logo {
  size: 1rem;
}

.nav-list {
  bottom: 1rem;
}

/* about page */

#Stratz {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  min-height: 580px;
  min-width: 360px;
  background-position:left;
  background-repeat: no-repeat;
  background-size:cover;
  contain: inherit;
  overflow: hidden;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;  
  }

  .name {
    font-size: 380%;
    font-family: 'Montserrat', sans-serif;
    color: #7fc8a9;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 330px;
    height: auto;
    width: 100%;
  }
  .title {
    font-size: 480%;
    color: #7fc8a9;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 500px;
    height: auto;
    width: 100%;
  }

  /* Fancy button to portfolio page */
  .fancy-button {
    position: absolute;
    padding-left: 3rem;
    padding-right: 3rem;
    top: 38rem;
    right: 50rem;
    background: #115de0;
    overflow: hidden;
    transition: all 200ms ease;
  }
  
  .fancy-button:hover {
    background: #1aa169;
    padding-left: 1rem;
    padding-right: 5rem;
  }
  
  .fancy-button-text {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: rgb(219, 216, 36);
    transition: 200ms ease;
  }
  
  .fancy-button:hover .fancy-button-text {
    color: #4a5568;
  }
  
  .fancy-button-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    background: #48bb78;
    opacity: 0;
    transition: all 300ms ease;
    transform-origin: right;
    height: 200%;
    transform: rotate(20deg);
  }
  
  .fancy-button:hover .fancy-button-background {
    width: 5rem;
    opacity: 1;
  }
  
  .fancy-button .fa-paper-plane {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.25rem;
    color: #fff;
    opacity: 0;
    z-index: 10;
    margin-right: 2.5rem;
    transition: 300ms ease;
    transform: translate(50%, -50%);
  }
  
  .fancy-button:hover .fa-paper-plane {
    opacity: 1;
  }
  
  /* Portfolio section of page */
  .projects-section-header {
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }